@import "lib/utils.styl"
@import "lib/normalize.styl"
@import "lib/mixins.styl"
@import "lib/helpers.styl"
@import "lib/loader.styl"

*, *:before, *:after
  vendor('box-sizing', border-box)

body
  font 16px/1.68 normal $body-font-family
  background-color $base-ui-color
  color #fff



/**
 * HEADER
 */
.header
  display block
  padding 0px 35px

  &__inner
    margin 0 auto
    position relative
    padding 3em 0
    text-align center
    @extends .cf

.site-name
  font-family $base-font-family
  color $brand-color
  font-weight normal
  font-style italic
  font-size 4em
  line-height 1
  margin 0

.site-description
  font-family $base-font-family
  color #eee
  font-weight 300
  font-size 1.2em


/**
 * Main navigation
 */
.main-nav
  position absolute
  top 50%
  left 0
  vendor('transform', translateY(-50%))
  @extends .cf

  &__btn
    vendor('appearance', none)
    border none
    background transparent url('../images/menu.svg') top center no-repeat
    background-size 100%
    width 1.5em
    height 1.5em
    text-indent -9999px
    display block



/**
 * Actions
 */
.actions
  display block
  padding 15px 35px 40px
  @extends .cf

  &__inner
    @extends .cf

  &__nav
    display block

    ul
      padding 0
      margin 0
      list-style none

      li
        display inline-block

        &.active
          a
            color #fff
            border-color $brand-color

        a
          color #ccc
          text-decoration none
          font-weight 600
          letter-spacing 1px
          display inline-block
          font-size 14px
          line-height 2.4
          padding 0 1.5em
          border 3px solid #ccc
          vendor('border-radius', 5em)
          vendor('transition', all .2s ease)

          &:hover
            border-color $brand-color
            color #fff

  &--sort
    float left

    li
      margin-right 1em

  &--filter
    float right

    li
      margin-left 1em


.search
  position relative
  display inline-block
  padding 0 3em 0 1em
  border 3px solid #ccc
  vendor('border-radius', 5em)
  @extends .cf

  input
    vendor('appearance', none)
    border none
    display block
    background-color transparent
    letter-spacing 1px
    color #ccc
    font-weight 300
    font-size 14px
    line-height 2.3
    outline none
    width 120px

  &:after
    content ''
    background transparent url('../images/search.svg') top center no-repeat
    position absolute
    top 50%
    right 1em
    width 1.2em
    height 1.2em
    vendor('background-size', 100%)
    vendor('transform', translateY(-50%))



.filter__select
  position relative

  &:after
    position absolute
    top 50%
    right 1.25rem
    display inline-block
    content ""
    width 0
    height 0
    pointer-events none
    border-top .35rem solid #ccc
    border-right .35rem solid transparent
    border-bottom .35rem solid transparent
    border-left .35rem solid transparent

  select
    vendor('appearance', none)
    background transparent
    color #ccc
    font-weight 600
    letter-spacing 1px
    display inline-block
    font-size 14px
    line-height 2.4
    padding 0 2.5em 0 1.5em
    border 3px solid #ccc
    vendor('border-radius', 5em)
    outline none

    &::-ms-expand
      display none

.filter__btn
  line-height 1
  padding 0 !important
  height 2.85em
  width 2.85em
  background-size 45%
  background-position center center
  background-repeat no-repeat
  position relative

  &:before
    content attr(title)
    display block
    position absolute
    top -45px
    right 0
    background-color $brand-color
    color $base-ui-color
    padding 0px 20px
    text-align center
    white-space nowrap
    font-size 12px
    line-height 2.5
    vendor('border-radius', 3px)

  &:after
    content ''
    display block
    border 5px solid transparent
    border-top-color $brand-color
    position absolute
    top -15px
    left 50%
    vendor('transform', translateX(-50%))

  &:before, &:after
    visibility hidden
    opacity 0
    vendor('transition', all 0.25s ease-out)

  &:hover
    &:before, &:after
      visibility visible
      opacity 1

.filter--ascending
  background-image url('../images/sort-ascending.svg')

.filter--descending
  background-image url('../images/sort-descending.svg')

/**
 * Movies List
 */
.movies
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  align-content stretch
  align-items stretch
  list-style none
  margin 0
  padding 0 20px
  @extends .cf

  &__item
    text-align left
    color #eee
    width 180px
    padding 0
    margin 20px 15px
    position relative
    font-size 13px

    &.done:before
      content ''
      display block
      width 2.5em
      height 2.5em
      background transparent url('../images/star.svg') center center no-repeat
      background-size 100%
      position absolute
      top -1.3em
      left -1em

  &__image
    display block
    width 100%
    height 270px
    padding 0
    margin 0
    margin-bottom 10px
    @extends .cf

    img
      display block
      width 100%
      height 100%
      vendor('border-radius', 4px)

  &__title
    font-weight 600
    color #fff
    margin 0
    line-height 1.5

  &__genre, &__runtime
    font-weight 300
    color #eee
    margin 0
    line-height 1.5



/**
 * Popover
 */
.movies__popover
  position absolute
  top 0
  left 90%
  background-color rgba(238, 238, 238, .9);
  z-index 10
  width 380px
  padding 1em 2em
  color $base-ui-color
  vendor('border-radius', 4px)
  vendor('transition', all 0.25s ease-out)
  opacity 0
  visibility hidden

  &:before
    content ''
    display block
    width 0
    height 0
    border 7px solid transparent
    border-right-color #eee
    position absolute
    top 10px
    left -14px
    opacity .9

  &.active
    visibility visible
    opacity 1

  &.move-left
    background-color red !important

.popover__title
  margin-bottom 0
  line-height 1.2
  @extends .cf

.popover__runtime
  font-weight normal

  &:before
    content ' / '

.popover__genre
  margin 0
  margin-bottom 1em


// &:before
//   content ''
//   display block
//   background transparent url('../images/clock.svg') center center no-repeat
//   background-size 100%
//   width 1em
//   height 1em
//   position absolute
//   top 50%
//   left -1em
//   vendor('transform', translateY(-50%))


/**
 * Footer
 */
.footer
  position relative
  display block
  @extends .cf

  &__inner
    text-align center
    line-height 100px


.copyright
  font-size 14px

  span
    color #C02932
