<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="icon" type="image/png" href="images/favicon.ico">

  <link rel="stylesheet" href="style/master.css">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:300,400italic|Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

  <title><$ name $> - <$ title $> </title>
  <meta charset="UTF-8">
</head>
<body ng-app="denotes">
<div class="site" ng-controller="MainController">

  <header class="header" role="banner">
    <div class="header__inner">
      <nav class="main-nav" role="navigation">
        <button class="main-nav__btn" aria-label="Toggle main menu">Menu</button>
      </nav>

      <h1 class="site-name"><$ name $></h1>
      <h2 class="site-description"><$ title $></h2>

      <div class="search">
        <button class="search__btn" aria-label="Filter through result by name">Filter Search</button>
      </div>
    
    </div>
    <!-- /.header__inner -->
  </header>
  <!-- /.header -->

  <ul id="movieList" class="movies" directive-when-scrolled="loadMore()">
    <li class="movies__item" 
        ng-class="{ true: 'done'}[movie.done]" 
        ng-click="movie.done = !movie.done" 
        ng-repeat="movie in movies | limitTo: limit | orderBy:imdbRating:reverse"
        ng-mouseenter="popover = true"
        ng-mouseleave="popover = false">
      <figure class="movies__image">
        <img ng-src="{{ movie.post }}" alt="{{ movie.title }}">
      </figure>
      <div class="movies__description">
        <p class="movies__title">{{ movie.title | truncate }}</p>
        <p class="movies__genre">{{ movie.genre }}</p>
        <p class="movies__runtime">{{ movie.runtime }} • {{ movie.imdbRating }}</p>
      </div>

      <aside class="movies__popover" ng-class="{active: popover}">
        <h3 class="popover__title">{{ movie.title }} <span class="popover__runtime">{{ movie.runtime }}</span></h3>
        <p class="popover__genre">{{ movie.genre }}</p>

        <p class="popover__plot">{{ movie.plot}} </p>

        <p class="popover__director"><strong>Director: </strong>{{ movie.director }}</p>
      </aside>
    </li>
  </ul>

  <footer class="footer">
    <div class="footer__inner">
      <p class="copyright"><$ name $> is created with <span>♥</span> by <$ author $></p>
    </div>
  </footer>

</div>
<!-- /.site -->

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1");</script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script src="js/loading-bar.min.js"></script>  
  <script src="js/main.js"></script>  
</body>
</html>
