/*------------------------------------*\
    $UTILS
\*------------------------------------*/


// Colors
$brand-color = #f1c40f
$base-ui-color = #1D2327

// Fonts
$base-font-family = "Merriweather", Georgia, Serif;
$body-font-family = "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif
